.auction-description{
    opacity: 0.7;
}

.auction-card{
    margin: 10px;
}


.auction-timer{
    opacity: 0.7;
}

.auction-owner{
    word-wrap: break-word;
    font-size: 10px;
    color: #455a64;
}
