.calendar-box{
        background-color: rgb(212, 212, 212);
        width: fit-content;
        padding: 8px;
        border-radius: 10px;
        color: rgb(40, 40, 40);
}

.date{
    font-size: 20;
    margin-left: 5;
}

.card-title{
    color: rgb(146, 146, 146);
}

.stat-icons{
    padding: 10px;
}